black
boto3
botocore
certifi
charset-normalizer
click
colorama
faker
greenlet
idna
iniconfig
jmespath
mslex
mypy-extensions
numpy
packaging
pandas
pathspec
platformdirs
pluggy
psutil
pytest
python-dateutil
pytz
requests
s3transfer
six
sqlalchemy
taskipy
tomli
typing-extensions
tzdata
urllib3